# Merge Gold and Oil Data

Data from: https://fred.stlouisfed.org/series/DCOILBRENTEU
https://fred.stlouisfed.org/series/MCOILWTICO

In [1]:
import pandas as pd

In [28]:
gold = pd.read_csv('../CPI_Data/gold_prices_appr22.csv')
gold
gold['Date'] = pd.to_datetime(gold['Date'], infer_datetime_format = True)
gold['Gold US dollar per oz'] = pd.to_numeric(gold['Gold US dollar per oz'])
gold

          Date  Gold US dollar per oz
0   1978-12-31                 207.80
1   1979-01-31                 227.30
2   1979-02-28                 245.70
3   1979-03-30                 242.10
4   1979-04-30                 239.20
..         ...                    ...
516 2021-12-31                1786.70
517 2022-01-31                1816.80
518 2022-02-28                1856.30
519 2022-03-30                1909.85
520 2022-04-30                1911.30

[521 rows x 2 columns]

In [29]:
oil = pd.read_csv('../CPI_Data/crude_oil_apr22.csv')
oil = oil.rename(columns = {'DATE':'Date', 'MCOILWTICO':'Crude Oil Price'})
oil['Date'] = pd.to_datetime(oil['Date'], infer_datetime_format = True)
oil

          Date  Crude Oil Price
0   1986-01-01            22.93
1   1986-02-01            15.46
2   1986-03-01            12.61
3   1986-04-01            12.84
4   1986-05-01            15.38
..         ...              ...
431 2021-12-01            71.71
432 2022-01-01            83.22
433 2022-02-01            91.64
434 2022-03-01           108.50
435 2022-04-01           101.78

[436 rows x 2 columns]

In [30]:
date_series = gold['Date']
date_series

0     1978-12-31
1     1979-01-31
2     1979-02-28
3     1979-03-30
4     1979-04-30
         ...
516   2021-12-31
517   2022-01-31
518   2022-02-28
519   2022-03-30
520   2022-04-30
Name: Date, Length: 521, dtype: datetime64[ns]

In [31]:
# fixing the dates to be on the first of the month
count = 0
for i in gold['Date']:
    date_series.loc[count] = i.replace(day = 1)
    count += 1
date_series

gold['Date'] = date_series

/Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [32]:
oil

          Date  Crude Oil Price
0   1986-01-01            22.93
1   1986-02-01            15.46
2   1986-03-01            12.61
3   1986-04-01            12.84
4   1986-05-01            15.38
..         ...              ...
431 2021-12-01            71.71
432 2022-01-01            83.22
433 2022-02-01            91.64
434 2022-03-01           108.50
435 2022-04-01           101.78

[436 rows x 2 columns]

In [38]:
#reduce the rows to the number we have in cpi df
gold = gold.set_index('Date')
oil = oil.set_index('Date')

KeyError: "None of ['Date'] are in the columns"

In [39]:
oil.index

DatetimeIndex(['1986-01-01', '1986-02-01', '1986-03-01', '1986-04-01',
               '1986-05-01', '1986-06-01', '1986-07-01', '1986-08-01',
               '1986-09-01', '1986-10-01',
               ...
               '2021-07-01', '2021-08-01', '2021-09-01', '2021-10-01',
               '2021-11-01', '2021-12-01', '2022-01-01', '2022-02-01',
               '2022-03-01', '2022-04-01'],
              dtype='datetime64[ns]', name='Date', length=436, freq=None)

In [40]:
gold.index

DatetimeIndex(['1978-12-01', '1979-01-01', '1979-02-01', '1979-03-01',
               '1979-04-01', '1979-05-01', '1979-06-01', '1979-07-01',
               '1979-08-01', '1979-09-01',
               ...
               '2021-07-01', '2021-08-01', '2021-09-01', '2021-10-01',
               '2021-11-01', '2021-12-01', '2022-01-01', '2022-02-01',
               '2022-03-01', '2022-04-01'],
              dtype='datetime64[ns]', name='Date', length=521, freq=None)

## Merging together with CPI data

In [41]:
cpi = pd.read_csv('../CPI_Data/Monthly_cpi_index_apr22.csv', index_col = 0)
cpi.index = pd.to_datetime(cpi.index, infer_datetime_format = True)
cpi.index = cpi.index.rename('Date')
cpi

,Food,Food at home,Cereals and bakery products,Cereals and cereal products,Flour and prepared flour mixes,Breakfast cereal,"Rice, pasta, cornmeal",Bakery products,Bread,"Fresh biscuits, rolls, muffins",...,Private transportation,New and used motor vehicles,Utilities and public transportation,Household furnishings and operations,Other goods and services,Personal care,Recorded music and music subscriptions,"Men's underwear, nightwear, swimwear, and accessories",Residential telephone services,All items
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-01,232.666,231.694,266.677,234.159,252.159,228.664,242.992,283.880,170.658,167.911,...,206.307,99.659,205.521,125.629,391.382,210.299,89.691,148.547,NaN,227.842
2012-02-01,232.486,231.180,267.821,233.362,250.564,227.984,242.217,286.484,172.978,168.364,...,210.013,99.889,205.398,126.180,391.236,210.330,89.896,148.183,NaN,228.329
2012-03-01,232.792,231.383,267.101,232.660,252.104,227.997,238.975,285.771,172.955,168.406,...,216.536,100.325,205.637,126.107,392.364,211.289,89.704,149.106,NaN,228.807
2012-04-01,233.234,231.711,268.014,233.662,252.102,228.862,240.693,286.589,173.559,166.211,...,218.563,100.977,206.050,126.114,393.320,211.865,89.084,150.584,NaN,229.187
2012-05-01,233.339,231.518,268.653,235.054,254.336,230.326,241.615,286.629,173.581,167.158,...,215.978,101.399,206.866,125.905,392.859,211.649,88.904,155.044,NaN,228.713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-01,286.966,267.555,297.279,243.944,248.322,241.597,251.399,328.129,200.504,194.413,...,246.999,124.853,231.516,136.787,487.131,247.561,79.733,167.052,NaN,280.126
2022-01-01,289.772,270.711,302.242,246.536,264.478,238.165,255.463,334.550,202.802,197.864,...,248.995,126.211,235.419,139.162,490.856,249.954,79.855,170.644,140.232,281.933
2022-02-01,292.794,274.568,306.193,249.590,266.133,240.812,259.560,339.033,203.586,202.667,...,253.525,126.822,236.442,140.306,496.045,252.862,78.968,174.732,140.970,284.182
2022-03-01,295.728,278.612,311.606,255.990,273.106,246.618,266.558,343.758,205.262,207.902,...,264.669,126.417,238.961,141.358,498.538,254.111,78.819,175.267,140.640,287.708
2022-04-01,298.711,282.161,314.787,258.814,268.748,252.613,268.736,347.132,209.338,205.891,...,265.383,127.338,244.061,142.110,500.673,255.213,79.313,172.910,141.694,288.663

In [43]:
cpi = cpi.join(gold)
cpi = cpi.join(oil)

,Food,Food at home,Cereals and bakery products,Cereals and cereal products,Flour and prepared flour mixes,Breakfast cereal,"Rice, pasta, cornmeal",Bakery products,Bread,"Fresh biscuits, rolls, muffins",...,Utilities and public transportation,Household furnishings and operations,Other goods and services,Personal care,Recorded music and music subscriptions,"Men's underwear, nightwear, swimwear, and accessories",Residential telephone services,All items,Crude Oil Price,Gold US dollar per oz
key_0,,,,,,,,,,,,,,,,,,,,,
2012-01-01,232.666,231.694,266.677,234.159,252.159,228.664,242.992,283.880,170.658,167.911,...,205.521,125.629,391.382,210.299,89.691,148.547,NaN,227.842,100.27,1656.10
2012-02-01,232.486,231.180,267.821,233.362,250.564,227.984,242.217,286.484,172.978,168.364,...,205.398,126.180,391.236,210.330,89.896,148.183,NaN,228.329,102.20,1742.60
2012-03-01,232.792,231.383,267.101,232.660,252.104,227.997,238.975,285.771,172.955,168.406,...,205.637,126.107,392.364,211.289,89.704,149.106,NaN,228.807,106.16,1673.80
2012-04-01,233.234,231.711,268.014,233.662,252.102,228.862,240.693,286.589,173.559,166.211,...,206.050,126.114,393.320,211.865,89.084,150.584,NaN,229.187,103.32,1650.10
2012-05-01,233.339,231.518,268.653,235.054,254.336,230.326,241.615,286.629,173.581,167.158,...,206.866,125.905,392.859,211.649,88.904,155.044,NaN,228.713,94.66,1585.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-01,286.966,267.555,297.279,243.944,248.322,241.597,251.399,328.129,200.504,194.413,...,231.516,136.787,487.131,247.561,79.733,167.052,NaN,280.126,71.71,1786.70
2022-01-01,289.772,270.711,302.242,246.536,264.478,238.165,255.463,334.550,202.802,197.864,...,235.419,139.162,490.856,249.954,79.855,170.644,140.232,281.933,83.22,1816.80
2022-02-01,292.794,274.568,306.193,249.590,266.133,240.812,259.560,339.033,203.586,202.667,...,236.442,140.306,496.045,252.862,78.968,174.732,140.970,284.182,91.64,1856.30
2022-03-01,295.728,278.612,311.606,255.990,273.106,246.618,266.558,343.758,205.262,207.902,...,238.961,141.358,498.538,254.111,78.819,175.267,140.640,287.708,108.50,1909.85
2022-04-01,298.711,282.161,314.787,258.814,268.748,252.613,268.736,347.132,209.338,205.891,...,244.061,142.110,500.673,255.213,79.313,172.910,141.694,288.663,101.78,1911.30

In [42]:
cpi = cpi.merge(oil, left_on = cpi.index, right_on = oil.index, suffixes=(False, False))
print(cpi)
cpi = cpi.set_index('key_0')
# cpi = cpi.merge(gold, left_on = cpi.index, right_on = gold.index, suffixes=(False, False))
print(cpi)
# cpi.index

         key_0     Food  Food at home  Cereals and bakery products  \
0   2012-01-01  232.666       231.694                      266.677
1   2012-02-01  232.486       231.180                      267.821
2   2012-03-01  232.792       231.383                      267.101
3   2012-04-01  233.234       231.711                      268.014
4   2012-05-01  233.339       231.518                      268.653
..         ...      ...           ...                          ...
119 2021-12-01  286.966       267.555                      297.279
120 2022-01-01  289.772       270.711                      302.242
121 2022-02-01  292.794       274.568                      306.193
122 2022-03-01  295.728       278.612                      311.606
123 2022-04-01  298.711       282.161                      314.787

     Cereals and cereal products  Flour and prepared flour mixes  \
0                        234.159                         252.159
1                        233.362                         250.564
2                        232.660                         252.104
3                        233.662                         252.102
4                        235.054                         254.336
..                           ...                             ...
119                      243.944                         248.322
120                      246.536                         264.478
121                      249.590                         266.133
122                      255.990                         273.106
123                      258.814                         268.748

     Breakfast cereal  Rice, pasta, cornmeal  Bakery products    Bread  ...  \
0             228.664                242.992          283.880  170.658  ...
1             227.984                242.217          286.484  172.978  ...
2             227.997                238.975          285.771  172.955  ...
3             228.862                240.693          286.589  173.559  ...
4             230.326                241.615          286.629  173.581  ...
..                ...                    ...              ...      ...  ...
119           241.597                251.399          328.129  200.504  ...
120           238.165                255.463          334.550  202.802  ...
121           240.812                259.560          339.033  203.586  ...
122           246.618                266.558          343.758  205.262  ...
123           252.613                268.736          347.132  209.338  ...

     New and used motor vehicles  Utilities and public transportation  \
0                         99.659                              205.521
1                         99.889                              205.398
2                        100.325                              205.637
3                        100.977                              206.050
4                        101.399                              206.866
..                           ...                                  ...
119                      124.853                              231.516
120                      126.211                              235.419
121                      126.822                              236.442
122                      126.417                              238.961
123                      127.338                              244.061

     Household furnishings and operations  Other goods and services  \
0                                 125.629                   391.382
1                                 126.180                   391.236
2                                 126.107                   392.364
3                                 126.114                   393.320
4                                 125.905                   392.859
..                                    ...                       ...
119                               136.787                   487.131
120                               139.162                   490.856
121                               140.306                   496.045
122                               141.358                   498.538
123                               142.110                   500.673

     Personal care  Recorded music and music subscriptions  \
0          210.299                                  89.691
1          210.330                                  89.896
2          211.289                                  89.704
3          211.865                                  89.084
4          211.649                                  88.904
..             ...                                     ...
119        247.561                                  79.733
120        249.954                                  79.855
121        252.862                                  78.968
122        254.111                                  78.819
123        255.213                                  79.313

     Men's underwear, nightwear, swimwear, and accessories  \
0                                              148.547
1                                              148.183
2                                              149.106
3                                              150.584
4                                              155.044
..                                                 ...
119                                            167.052
120                                            170.644
121                                            174.732
122                                            175.267
123                                            172.910

     Residential telephone services  All items  Crude Oil Price
0                               NaN    227.842           100.27
1                               NaN    228.329           102.20
2                               NaN    228.807           106.16
3                               NaN    229.187           103.32
4                               NaN    228.713            94.66
..                              ...        ...              ...
119                             NaN    280.126            71.71
120                         140.232    281.933            83.22
121                         140.970    284.182            91.64
122                         140.640    287.708           108.50
123                         141.694    288.663           101.78

[124 rows x 317 columns]
               Food  Food at home  Cereals and bakery products  \
key_0
2012-01-01  232.666       231.694                      266.677
2012-02-01  232.486       231.180                      267.821
2012-03-01  232.792       231.383                      267.101
2012-04-01  233.234       231.711                      268.014
2012-05-01  233.339       231.518                      268.653
...             ...           ...                          ...
2021-12-01  286.966       267.555                      297.279
2022-01-01  289.772       270.711                      302.242
2022-02-01  292.794       274.568                      306.193
2022-03-01  295.728       278.612                      311.606
2022-04-01  298.711       282.161                      314.787

            Cereals and cereal products  Flour and prepared flour mixes  \
key_0
2012-01-01                      234.159                         252.159
2012-02-01                      233.362                         250.564
2012-03-01                      232.660                         252.104
2012-04-01                      233.662                         252.102
2012-05-01                      235.054                         254.336
...                                 ...                             ...
2021-12-01                      243.944                         248.322
2022-01-01                      246.536                         264.478
2022-02-01                      249.590                         266.133
2022-03-01                      255.990                         273.106
2022-04-01                      258.814                         268.748

            Breakfast cereal  Rice, pasta, cornmeal  Bakery products    Bread  \
key_0
2012-01-01           228.664                242.992          283.880  170.658
2012-02-01           227.984                242.217          286.484  172.978
2012-03-01           227.997                238.975          285.771  172.955
2012-04-01           228.862                240.693          286.589  173.559
2012-05-01           230.326                241.615          286.629  173.581
...                      ...                    ...              ...      ...
2021-12-01           241.597                251.399          328.129  200.504
2022-01-01           238.165                255.463          334.550  202.802
2022-02-01           240.812                259.560          339.033  203.586
2022-03-01           246.618                266.558          343.758  205.262
2022-04-01           252.613                268.736          347.132  209.338

            Fresh biscuits, rolls, muffins  ...  New and used motor vehicles  \
key_0                                       ...
2012-01-01                         167.911  ...                       99.659
2012-02-01                         168.364  ...                       99.889
2012-03-01                         168.406  ...                      100.325
2012-04-01                         166.211  ...                      100.977
2012-05-01                         167.158  ...                      101.399
...                                    ...  ...                          ...
2021-12-01                         194.413  ...                      124.853
2022-01-01                         197.864  ...                      126.211
2022-02-01                         202.667  ...                      126.822
2022-03-01                         207.902  ...                      126.417
2022-04-01                         205.891  ...                      127.338

            Utilities and public transportation  \
key_0
2012-01-01                              205.521
2012-02-01                              205.398
2012-03-01                              205.637
2012-04-01                              206.050
2012-05-01                              206.866
...                                         ...
2021-12-01                              231.516
2022-01-01                              235.419
2022-02-01                              236.442
2022-03-01                              238.961
2022-04-01                              244.061

            Household furnishings and operations  Other goods and services  \
key_0
2012-01-01                               125.629                   391.382
2012-02-01                               126.180                   391.236
2012-03-01                               126.107                   392.364
2012-04-01                               126.114                   393.320
2012-05-01                               125.905                   392.859
...                                          ...                       ...
2021-12-01                               136.787                   487.131
2022-01-01                               139.162                   490.856
2022-02-01                               140.306                   496.045
2022-03-01                               141.358                   498.538
2022-04-01                               142.110                   500.673

            Personal care  Recorded music and music subscriptions  \
key_0
2012-01-01        210.299                                  89.691
2012-02-01        210.330                                  89.896
2012-03-01        211.289                                  89.704
2012-04-01        211.865                                  89.084
2012-05-01        211.649                                  88.904
...                   ...                                     ...
2021-12-01        247.561                                  79.733
2022-01-01        249.954                                  79.855
2022-02-01        252.862                                  78.968
2022-03-01        254.111                                  78.819
2022-04-01        255.213                                  79.313

            Men's underwear, nightwear, swimwear, and accessories  \
key_0
2012-01-01                                            148.547
2012-02-01                                            148.183
2012-03-01                                            149.106
2012-04-01                                            150.584
2012-05-01                                            155.044
...                                                       ...
2021-12-01                                            167.052
2022-01-01                                            170.644
2022-02-01                                            174.732
2022-03-01                                            175.267
2022-04-01                                            172.910

            Residential telephone services  All items  Crude Oil Price
key_0
2012-01-01                             NaN    227.842           100.27
2012-02-01                             NaN    228.329           102.20
2012-03-01                             NaN    228.807           106.16
2012-04-01                             NaN    229.187           103.32
2012-05-01                             NaN    228.713            94.66
...                                    ...        ...              ...
2021-12-01                             NaN    280.126            71.71
2022-01-01                         140.232    281.933            83.22
2022-02-01                         140.970    284.182            91.64
2022-03-01                         140.640    287.708           108.50
2022-04-01                         141.694    288.663           101.78

[124 rows x 316 columns]

In [17]:
cpi.index

DatetimeIndex(['2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
               '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
               '2012-09-01', '2012-10-01',
               ...
               '2021-07-01', '2021-08-01', '2021-09-01', '2021-10-01',
               '2021-11-01', '2021-12-01', '2022-01-01', '2022-02-01',
               '2022-03-01', '2022-04-01'],
              dtype='datetime64[ns]', name='key_0', length=124, freq=None)

In [18]:
gold.index

DatetimeIndex(['2017-05-01', '2017-05-01', '2017-05-01', '2017-05-01',
               '2017-05-01', '2017-05-01', '2017-05-01', '2017-06-01',
               '2017-06-01', '2017-06-01',
               ...
               '2022-05-01', '2022-05-01', '2022-05-01', '2022-05-01',
               '2022-05-01', '2022-05-01', '2022-05-01', '2022-05-01',
               '2022-05-01', '2022-05-01'],
              dtype='datetime64[ns]', name='DATE', length=1305, freq=None)

In [16]:
cpi.merge(gold, left_on = cpi.index, )

,Food,Food at home,Cereals and bakery products,Cereals and cereal products,Flour and prepared flour mixes,Breakfast cereal,"Rice, pasta, cornmeal",Bakery products,Bread,"Fresh biscuits, rolls, muffins",...,New and used motor vehicles,Utilities and public transportation,Household furnishings and operations,Other goods and services,Personal care,Recorded music and music subscriptions,"Men's underwear, nightwear, swimwear, and accessories",Residential telephone services,All items,Crude Oil Price
key_0,,,,,,,,,,,,,,,,,,,,,
2012-01-01,232.666,231.694,266.677,234.159,252.159,228.664,242.992,283.880,170.658,167.911,...,99.659,205.521,125.629,391.382,210.299,89.691,148.547,NaN,227.842,100.27
2012-02-01,232.486,231.180,267.821,233.362,250.564,227.984,242.217,286.484,172.978,168.364,...,99.889,205.398,126.180,391.236,210.330,89.896,148.183,NaN,228.329,102.20
2012-03-01,232.792,231.383,267.101,232.660,252.104,227.997,238.975,285.771,172.955,168.406,...,100.325,205.637,126.107,392.364,211.289,89.704,149.106,NaN,228.807,106.16
2012-04-01,233.234,231.711,268.014,233.662,252.102,228.862,240.693,286.589,173.559,166.211,...,100.977,206.050,126.114,393.320,211.865,89.084,150.584,NaN,229.187,103.32
2012-05-01,233.339,231.518,268.653,235.054,254.336,230.326,241.615,286.629,173.581,167.158,...,101.399,206.866,125.905,392.859,211.649,88.904,155.044,NaN,228.713,94.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-01,286.966,267.555,297.279,243.944,248.322,241.597,251.399,328.129,200.504,194.413,...,124.853,231.516,136.787,487.131,247.561,79.733,167.052,NaN,280.126,71.71
2022-01-01,289.772,270.711,302.242,246.536,264.478,238.165,255.463,334.550,202.802,197.864,...,126.211,235.419,139.162,490.856,249.954,79.855,170.644,140.232,281.933,83.22
2022-02-01,292.794,274.568,306.193,249.590,266.133,240.812,259.560,339.033,203.586,202.667,...,126.822,236.442,140.306,496.045,252.862,78.968,174.732,140.970,284.182,91.64
2022-03-01,295.728,278.612,311.606,255.990,273.106,246.618,266.558,343.758,205.262,207.902,...,126.417,238.961,141.358,498.538,254.111,78.819,175.267,140.640,287.708,108.50
2022-04-01,298.711,282.161,314.787,258.814,268.748,252.613,268.736,347.132,209.338,205.891,...,127.338,244.061,142.110,500.673,255.213,79.313,172.910,141.694,288.663,101.78

In [13]:
cpi = cpi.set_index('key_0')
cpi

KeyError: "None of ['key_0'] are in the columns"

In [ ]:
# save to csv
# cpi.to_csv('../CPI_Data/cpi_w_gold_oil_apr22.csv')